body {
    margin: 0;
}

.conteiner {
    margin: 0px 135px;
    padding: 0;
    padding-top: 40px;
}

.header { 
    background-image: url(frame.png); /*цвет фона, можно вставить картинку*/
    height: 100vh; /*картинка будет вставать вне контейнера, т.е. на весь экран*/
    background-repeat: no-repeat; /*картинка не будет повторяться*/
    background-size: cover; /*удаление белых полос по бокам*/
    height: 100%;
    width: 100%;
}

.header-line {
    display: grid;
}

.menu-item {
    color: #fff;
    text-decoration: none; /*удаление подчеркивания текста*/
    font-size: 25px;
    padding-left: 0px;

    margin-right: 99px;

    transition: color 0.3s linear; /*плавность при изменении цвета*/

}

.menu-item:hover {
    color: #AE9262; /*изменение цвета при наведении*/

}

.img {
    height: 100%;
    width: 100%;
}

.simple {
    position:relative;
    bottom: 80px;
    font-size: 150px;
    color: #fff;
    margin-right: 120px;
    padding: 0px 50px 0px 0px;
    
}
.conteiner2 {
    position:relative;
    bottom: 955px;
    color: #fff;
    font-size: 30px;
    margin-top: -116px;
    margin-bottom: 50px; /*отступ вниз во внешней части*/
}

.button {
    position:relative;
    bottom: 956px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 16px 50px; /*отступ внутри кнопки - вверху и по бокам*/
    margin-left: -9px;
    margin-right: 35px;

    width: 150px;
    height: 50px;
    border:none;
    border:solid 2px #fff;
    border-radius: 50px;
    background: #fff(255, 255, 255,0);
    font-size: 25px;

    transition: color 0.5s linear;
}
.button:hover {
    color: #000;
    background-color: #fff;
}

.button3 {
    position:relative; /*метод относительного позиционирования*/
    bottom: 900px;
    margin-left: -9px;

    /* Rectangle 13 */
    background: #D6B081;
    border-radius: 50px;
    padding: 20px 30px;

    /* Перейти в каталог */
    text-decoration: none;
    font-size: 40px;
    font-family: 'Times New Roman';

    color: #FFFFFF;
    transition: color 0.3s linear;
}

.button3:hover {
    background-color: #a3743a;
}
.scale {
    position:relative;
    left: 738px;
    top: -558px;
}

@media (max-width: 1200px) {
    .adaptive {
      width: 1000px;
    }
    .menu-item {
      font-size: 20px;
      margin-right: 41px;
    }
    .simple {
      font-size: 100px;
      bottom: 65px;
    }
    .conteiner2 {
      display: block;
      bottom: 895px;
      font-size: 25px;
    }
    .button {
      font-size: 20px;
      bottom: 900px;
    }
    .button3 {
      font-size: 30px;
      bottom: 850px;
    }
    .scale {
      left: 487px;
      top: -526px;
    }
  }
  
  @media (max-width: 1000px) {
    .adaptive {
      width: 768px;
    }
    .menu-item {
      font-size: 20px;
      margin-right: 39px;
    }
    .simple {
      font-size: 100px;
      bottom: 65px;
    }
    .conteiner2 {
      font-size: 20px;
      bottom: 939px;
    }
    .button {
      font-size: 20px;
      bottom: 940px;
    }
    .button3 {
      font-size: 50px;
      bottom: 860px;
    }
    .scale {
      top: -500px;
      left: 341px;
      width: 97%;
    }
  }
  
  @media (max-width: 768px) {
    .adaptive {
      width: 480px;
    }
    .menu-item {
      font-size: 13px;
      margin-right: 18px;
    }
    .simple {
      font-size: 50px;
      bottom: 18px;
    }
    .conteiner2 {
      font-size: 15px;
      bottom: 523px;
    }
    .button {
      font-size: 10px;
      bottom: 542px;
    }
    .button3 {
      font-size: 20px;
      bottom: 476px;
    }
    .scale {
      left: 290px;
      top: -300px;

    }
  }
  
  @media (max-width: 480px) {
    .adaptive {
      width: 100%;
    }
    .menu-item {
      font-size: 13px;
      margin-right: 18px;
    }
    .simple {
      font-size: 50px;
      bottom: 18px;
    }
    .conteiner2 {
      font-size: 15px;
      bottom: 523px;
    }
    .button {
      font-size: 10px;
      bottom: 542px;
    }
    .button3 {
      font-size: 20px;
      bottom: 476px;
    }
    .scale {
      left: 290px;
      top: -300px;

    }
    .btn {
      grid-template-columns: auto;
    }
  }
