body {
    margin: 0;
}
.header { 
    background-image: url(frame2.png); /*цвет фона, можно вставить картинку*/
    height: 100vh; /*картинка будет вставать вне контейнера, т.е. на весь экран*/
    background-repeat: no-repeat; /*картинка не будет повторяться*/
    background-size: cover; /*удаление белых полос по бокам*/
}
.menu-item {
    position:relative;
    bottom: -33px;
    right: -33px;
    color: #000;
    text-decoration: none; /*удаление подчеркивания текста*/
    font-size: 20px;
    padding-left: 0px;

    margin-right: 120px;

    transition: color 0.3s linear; /*плавность при изменении цвета*/

}

.menu-item:hover {
    color: #AE9262; /*изменение цвета при наведении*/

}

.simple {
    position:relative;
    bottom: 15px;
    right: -95px;
    font-size: 150px;
    color: #000;
    margin-right: 120px;
    padding: 0px 50px 0px 0px;
    
}
.conteiner2 {
    position:relative;
    left: 100px;
    bottom: 806px;
    color: #000;
    font-size: 30px;
}
.button {
    position:relative;
    bottom: 770px;
    color: #000;
    text-decoration: none;
    font-size: 25px;
    padding: 16px 50px; /*отступ внутри кнопки - вверху и по бокам*/
    margin-left: 95px;
    margin-right: -64px;

    width: 150px;
    height: 50px;
    border:none;
    border:solid 2px #000;
    border-radius: 50px;
    background: #fff(255, 255, 255,0);
    font-size: 25px;

    transition: color 0.5s linear;
}
.button:hover {
    color: #000;
    background-color: #fff;
}

.button3 {
    position:relative; /*метод относительного позиционирования*/
    bottom: 705px;
    margin-left: 93px;

    /* Rectangle 13 */
    background: #D6B081;
    border-radius: 50px;
    padding: 20px 30px;

    /* Перейти в каталог */
    text-decoration: none;
    font-size: 40px;
    font-family: 'Times New Roman';

    color: #FFFFFF;
    transition: color 0.3s linear;
}

.button3:hover {
    background-color: #a3743a;
}
.white {
    position:relative;
    bottom: 365px;
    margin-left: 1036px;
}